html {
    background-color: whitesmoke;
    margin: 2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100%
}

h1 {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

p {
    font-size: 1.2rem;
}

nav {
    border-bottom-style: solid;
    border-bottom-width: 0.1rem;
    padding-bottom: 0.8rem;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;

}

nav ul li a {
    display: block;
    border: 3px solid;
    border-radius: .5em;
    border-color: slategray;
    padding: 0.5em 1em;
    margin: .5em;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
}

nav ul li a:visited {
    color: black;
    margin-top: 4rem;
    border-top: 0.1rem solid slategrey;
    font-size: 0.8rem;
}

nav ul li a:hover {
    background-color: lightskyblue;
}


/* classes */

.active {
    background-color: lightslategrey;
}

.activechild {
    background-color: aliceblue;
}

.button {
    background-color: lightslategray;
    border-radius: 4px;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-variant: small-caps;
    cursor: pointer;
    border: none;
    padding: 1em;
}

.button:hover {
    border: none;
    background: lightskyblue;
    box-shadow: 0px 0px 1px #777;
}


.logotext {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}